$primaryColor: #00aeef; // blueish
$secondaryColor: #ee2a7b; // like pink
$tertiaryColor: #ffc841; // like yellow
$primaryColorShade: #2c5697; // blue shades
$supportingColor: #a2c617; // green shades
$green: #65b44b;
$danger: red;
$white: #ffffff;
$dark: #0d0d0d;
$darkGrey: #505050;
$coolGrey: #737373;
$waterMarkGrey: #b0b0b0;
$specialGrey: #a8a8a8;
// for header bars
$lightGreyAlpha: #f6f6f6;
$lightGreyBeta: #e2e2e2;
$lightGreyTheta: #eeeeee;

//  font sizes
$size7: 0.5rem;
$size6: 0.6rem;
$size5: 0.7rem;
$size4: 0.8rem;
$size3: 0.9rem;
$size2: 1rem;
$size1: 1.1rem;
