{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier", "unused-imports"],
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "prettier/prettier": "error",
    "camelcase": 0,
    "no-console": 0,
    "max-len": ["error", 120],
    "react/forbid-prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/no-unused-state": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/img-redundant-alt": 0,
    "react/button-has-type": 0,
    "import/no-cycle": 0,
    "react/prop-types": 0,
    "scss(css-selectorexpected)": 0,
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
